# dependencies
/.vs
/bin

# kekw
obj/Debug
obj/Release



#Ignore thumbnails created by Windows
Thumbs.db
#Ignore files built by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
.vs/
#Nuget packages folder
packages/
/.vs/Calc/v16/.suo
/.vs/slnx.sqlite
/bin/Debug/netcoreapp3.1/Калькуратор отжиманий.dll
/bin/Debug/netcoreapp3.1/Калькуратор отжиманий.pdb
/bin/Debug/netcoreapp3.1/Калькуратор отжиманий.runtimeconfig.dev.json
/obj/Debug/netcoreapp3.1/Калькуратор отжиманий.assets.cache
/obj/Debug/netcoreapp3.1/Калькуратор отжиманий.csproj.CoreCompileInputs.cache
/obj/Debug/netcoreapp3.1/Калькуратор отжиманий.csprojAssemblyReference.cache
/obj/Debug/netcoreapp3.1/Калькуратор отжиманий.dll
/obj/Debug/netcoreapp3.1/Калькуратор отжиманий.pdb
/obj/project.assets.json
/obj/project.nuget.cache
/obj/Калькуратор отжиманий.csproj.nuget.dgspec.json
/obj/Калькуратор отжиманий.csproj.nuget.g.props
/.vs/Calc/v16/.suo
/.vs/slnx.sqlite
/bin/Debug/netcoreapp3.1/Калькуратор отжиманий.dll
/bin/Debug/netcoreapp3.1/Калькуратор отжиманий.pdb
/bin/Debug/netcoreapp3.1/Калькуратор отжиманий.runtimeconfig.dev.json
/obj/Debug/netcoreapp3.1/Калькуратор отжиманий.assets.cache
/obj/Debug/netcoreapp3.1/Калькуратор отжиманий.csproj.CoreCompileInputs.cache
/obj/Debug/netcoreapp3.1/Калькуратор отжиманий.csprojAssemblyReference.cache
/obj/Debug/netcoreapp3.1/Калькуратор отжиманий.dll
/obj/Debug/netcoreapp3.1/Калькуратор отжиманий.pdb
/obj/project.assets.json
/obj/project.nuget.cache
/obj/Калькуратор отжиманий.csproj.nuget.dgspec.json
/obj/Калькуратор отжиманий.csproj.nuget.g.props
/.vs/Calc/v16/.suo
/.vs/slnx.sqlite
/bin/Debug/netcoreapp3.1/Калькуратор отжиманий.dll
/bin/Debug/netcoreapp3.1/Калькуратор отжиманий.pdb
/bin/Debug/netcoreapp3.1/Калькуратор отжиманий.runtimeconfig.dev.json
/obj/Debug/netcoreapp3.1/Калькуратор отжиманий.assets.cache
/obj/Debug/netcoreapp3.1/Калькуратор отжиманий.csproj.CoreCompileInputs.cache
/obj/Debug/netcoreapp3.1/Калькуратор отжиманий.csprojAssemblyReference.cache
/obj/Debug/netcoreapp3.1/Калькуратор отжиманий.dll
/obj/Debug/netcoreapp3.1/Калькуратор отжиманий.pdb
/obj/project.assets.json
/obj/project.nuget.cache
/obj/Калькуратор отжиманий.csproj.nuget.dgspec.json
/obj/Калькуратор отжиманий.csproj.nuget.g.props
/.vs/slnx.sqlite
/obj/Калькуратор отжиманий.csproj.nuget.g.props
/obj/Калькуратор отжиманий.csproj.nuget.g.props
/obj/Калькуратор отжиманий.csproj.nuget.g.props
